# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/orb-intro/
orbs:
  # See the Node orb documentation here: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@5.2
  slack: circleci/slack@4.8.0

jobs:
  # Job 1: Clonar el repositorio
  clone_repo:
    machine: true  # Usa una máquina sin Docker
    steps:
      - checkout  # Clona el repositorio

  # Job 2: Correr los tests
  run_tests:
    machine: true  # Usa una máquina
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install  # Instala las dependencias
      - run:
          name: Run Tests
          command: npm run test  # Comando para correr las pruebas

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/workflows/ & https://circleci.com/docs/configuration-reference/#workflows
workflows:
  # Primer workflow: Clonar el repo y correr los tests
  clone_and_test:
    jobs:
      - clone_repo
      - run_tests:
          requires:
            - clone_repo

# Notificaciones de Slack
notify_on_success:
  jobs:
    - slack/notify:
        channel: "#devops"
        event: success
notify_on_failure:
  jobs:
    - slack/notify:
        channel: "#devops"
        event: fail